# Replace with api url from https://api-portal.dpa-newslab.com/api/electionsdata
API_URL="https://changeme"
ELECTION_ID="de-2025"
ELECTION_STAGE="live"
# Replace with your mqtt config
MQTT_BROKER="broker"
MQTT_PORT="1883"
MQTT_TOPIC="awtrix_3ce68c/custom/election"
